<!DOCTYPE html>
<html>
<head>
  <title>Tacta</title>
  <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css"/>
</head>
<body>

<h1>Tacta Contact Manager</h1>
<hr/>

<%= yield %>

</body>
</html>
